@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*----------------- banner section start----------------- */
.banner-container{
    margin-bottom: 80px;
}
.banner-title{
    margin-left: 230px;
    margin-top: 80px;
}
.banner{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.banner-left h1{
    Width: 600px;
    font-size: 40px;
}

.banner-right img{
    width: 90%;

}
.primary-button{
    padding: 10px 20px;
    background-color: #E02C6D;
    color: #fff;
    margin-top: 30px;
    border-radius: 41px;
    border-style: none;
    position: relative;
    text-align: center;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.primary-button:after {
    content: "";
    background: #f5c0d7ea;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
  
  .primary-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.button-icon{
margin-left: 10px;
}

/* -----------------Popular Products section start-------------- */

.product-catagory-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.products-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 220px;
    align-items: center;
    margin-bottom: 50px;
}

.product{
    width: 250px;
    background-color: rgba(241, 241, 241, 0.788);
    box-shadow: 5px 10px 5px rgba(206, 206, 206, 0.616);
    border-radius: 5px;
}
.product .product-banner img{
    width: 220px;
    height: 165px;
    border-radius: 5px;
    margin: 10px 15px;
}
.product-info{
   padding: 15px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: rgb(179, 173, 173);
}
.star-rating{
    margin-left: 5px;
    font-size: 12px;
}
.product-info p{
    color: grey;
    width: 195px;
    
}

/* ------contact part-------- */
.contact-conatiner{
    margin-top: 100px;
    margin-bottom: 50px;
}
.contact-conatiner h1{
    text-align: center;
    font-size: 40px;
}
.hightlight-text{
color: #E02C6D;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
   align-items: center;
   
}
.contact-form-left img{
    width: 80%;
}
.contact-form-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #E02C6D;
}

.contact-button{
    padding: 10px 20px;
    background-color: #E02C6D;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
.contact-button:hover{
    background-color: orange;
    color: #fff;
}
/* -------------footer start---------- */
.footer-container{
width: 100%;
height: 200px;
background-color: rgb(3, 3, 36);
}
.footer-content{
    text-align: center;
    color: white;
    padding-top: 50px;
}
.footer-icons{
    padding: 10px;
}

/* ------------responsive css----------------- */
@media (max-width:1495px) {
    .banner-title{
        margin-left: 205px;
    }
    .products-1{
        margin-left: 160px;
}
@media (max-width:1280px) {
    .banner-title{
        margin-left: 170px;
    }
    .products-1{
        margin-left: 80px;
   }
}
@media (max-width:1050px) {
    .products-1{
        grid-template-columns: repeat(2,2fr);
    }
}
